@model RapChieuPhim.Models.LoaiPhim

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content-body">
    <h3>Bạn có muốn xóa thể loại @Model.TenLoai không?</h3>
    <h4>Thông tin thể loại</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt style="color:black;font-size:20px;">
            Tên thể loại
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TenLoai)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-primary" /> |
            @Html.ActionLink("Trở lại", "Index")
        </div>}
</div>
